* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@media (max-width: 768px) {
  .cart-content {
    flex-direction: column;
  }

  .cart-item {
    flex-direction: column;
    text-align: center;
  }

  .qty-controls {
    margin: 10px 0;
  }

  .price-details {
    margin-top: 20px;
  }
}


.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


.main-content {
  flex: 1;

}

.footer {
  width: 100%;
  background-color: #fff;
  padding: 10px 20px;
  box-sizing: border-box;
  min-height: 40px;
  margin-top: auto;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}